---
import { welcomeText } from "../../data/site";
---

<section class="py-20 lg:py-28 bg-cream">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <p class="font-serif text-2xl sm:text-3xl lg:text-4xl xl:text-5xl text-charcoal leading-snug italic">
      {welcomeText}
    </p>
  </div>
</section>
